* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: rgb(16, 16, 16);
	background: linear-gradient(
		90deg,
		rgba(16, 16, 16, 1) 0%,
		rgba(80, 80, 80, 1) 30%,
		rgba(80, 80, 80, 1) 70%,
		rgba(16, 16, 16, 1) 100%
	);
}

.container {
	background-color: none;
	width: 73%;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	display: flex;
	flex-direction: row;
	top: 0;
	height: 12em;

	justify-content: center;
	align-items: center;
}

.logo {
	border-radius: 100%;
	width: 10%;
	height: auto;
	box-shadow: 0 0 20px 2px #ffffff40;
}

.title {
	font-family: montserrat;
	font-size: 70px;
	font-weight: 700;
	color: #fafafa;
	text-shadow: 0 5px 20px #ffffff80;
	margin: 0 237px 0 294px;
}

button.log-in {
	width: 150px;
	height: 60px;
	background: linear-gradient(to top left, #90ffd7 0%, #6bf2fb 100%);
	box-shadow: 0 3px 4px 2px #bdffe8b3;
	border-radius: 80px;
	display: block;

	font-family: montserrat;
	font-size: 35px;
	font-weight: 600;
	color: #ffffff;
	text-shadow: 0 2px 6px #ffffff;

	transition: all 0.3s linear;
}

button.log-in:hover {
	box-shadow: 0 2px 2px #bdffe8b3;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 50px;
	margin: 50px 0;
}

.weather {
	width: 250px;
	height: 300px;
	border: 2px solid #f2f2f2;
	border-radius: 30px;
	position: relative;
}

.weather-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 28px;
	top: 50px;
	margin-top: 18px;
}

.weather-list-item {
	font-family: montserrat;
	font-size: 30px;
	font-weight: 300;
	color: #f2f2f2;
}

.weather-line {
	width: 180px;
	height: 1px;
	background-color: #f2f2f2;
	margin: 0 auto;
}

.temperature {
	font-family: montserrat;
	font-size: 55px;
	font-weight: 700;
	color: #f2f2f2;
	margin-top: 20px;
}

.weather-result {
	font-family: montserrat;
	font-size: 22px;
	font-weight: 500;
	color: #1ef9aa;
	text-decoration: underline;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.schedule {
	width: 250px;
	height: 369px;
	border: 1px solid #f2f2f2;
	border-radius: 30px;
	position: relative;

	font-family: montserrat;
	color: #f2f2f2;
}

ul.tue {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 28px;
	left: 24px;
}

li.tue {
	font-size: 22px;
	font-weight: 500;
}

.circle-grad {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: linear-gradient(to top left, #e83a3a 0%, #3a60e8 100%);
	box-shadow: -1px -1px 4px 1px #6784ebb3;
	box-shadow: 1px 1px 4px 1px #ec6969b3;
}

.phisical-cult {
	font-size: 20px;
	font-weight: 400;
}

.schedule-line-Y {
	width: 1px;
	height: 80px;
	margin: 0 auto;
	background-color: #f2f2f24d;
	margin-top: 40px;
}

ul.thi {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 28px;
	right: 14px;
}
li.thi {
	font-size: 22px;
	font-weight: 500;
}

.circle-red {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: #e83a3a;
	box-shadow: 0 0 4px 1px #ef6c6cd3;
}

.philosophy {
	font-size: 20px;
	font-weight: 400;
}

.schedule-line-X {
	width: 220px;
	height: 1px;
	margin: 0 auto;
	background-color: #f2f2f24d;
	margin: 13px auto;
}

.schedule-members {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.schedule-member {
	font-size: 20px;
	font-weight: 500;
}

footer {
	height: 7rem;
	width: 100%;
}

footer ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	gap: 61px;

	font-family: montserrat;
	font-size: 35px;
	font-weight: 400;
}

.footer-members {
	color: #b7b7b7;
	font-size: 50px;
}

.footer-member {
	color: #fafafa;
}
